<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Success</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            margin-bottom: 80px;
        }
        .footer {
            background-color: #D3D3D3;
            text-align: center;
            padding: 20px 0;
            margin-top: 50px;
            bottom: 0;
            left: 0;
            width: 100%;
            color: #222222;
        }
        .spacer {
            min-height: 30px; /* This ensures there's always at least 30px of space */
        }
    </style>
</head>
<body class="d-flex flex-column min-vh-100">
    <div class="container text-center mt-5">
        <h1>Your Report has been submitted!</h1>
        <div class="mt-3">
            <a href="{% url 'whistleblowingapp:signedin' %}" class="btn btn-primary">Back</a>
        </div>
    </div>
</body>
<footer class="footer">
    <p>Disclaimer: This system operates solely as a class project. The system is not monitored and no real information should be submitted.</p>
</footer>
</html>
