<form method="post" action="{% url 'whistleblowingapp:viewreport' report.id %}">
    {% csrf_token %}
    <h3>{{ report.reportTitle }}</h3>
    <p>Report User: {{ report.user }}</p>
    <p>Report Description: {{ report.reportDescription }}</p>

    <label for="status">Status:</label>
    <select name="status" id="status">
        <option value="New" {% if report.status == "New" %} selected {% endif %}>New</option>
        <option value="In Progress" {% if report.status == "In Progress" %} selected {% endif %}>In Progress</option>
        <option value="Resolved" {% if report.status == "Resolved" %} selected {% endif %}>Resolved</option>
    </select>

    <br>
    <br>

    <label for="admin_notes">Admin Notes:</label>
    <textarea name="admin_notes" id="admin_notes">{{ report.admin_notes }}</textarea>

    {% if report.reportText %}
        <p><a href="{{ report.reportText.url }}">View .txt file</a></p>
    {% endif %}
    {% if report.reportPDF %}
        <p><a href="{{ report.reportPDF.url }}">View PDF</a></p>
    {% endif %}
    {% if report.reportJPEG %}
        <p><a href="{{ report.reportJPEG.url }}">View JPEG</a></p>
    {% endif %}
    <input type="submit" value="Submit Changes">
</form>

<a href="{% url 'whistleblowingapp:allreports' %}">Back</a>