<h1>Your Reports:</h1>

{% for report in reports %}
    <ul style="list-style-type: none;">
	    <li> <h3> {{ forloop.counter }}:{{ report.reportTitle }} </h3> </li>
	Report User: {{ report.user }}
	<br>
	Report Description: {{ report.reportDescription }}
	<br>
	<br>
	Status: {{report.status}}
	<br>
	{% if report.status == "Resolved" %}
	    Notes From Admin: {{report.admin_notes}}
	{% endif %}
	<br>
	{% if report.reportText %}
  	    <a href="{{ report.reportText.url }}">View .txt file</a>
	    <br>
	{% endif %}
	{% if report.reportPDF %}
  	    <a href="{{ report.reportPDF.url }}">View PDF</a>
	    <br>
	{% endif %}
	{% if report.reportJPEG %}
	    <a href="{{ report.reportJPEG.url }}">View JPEG</a>
	{% endif %}
    </ul>
	<br>
{% endfor %}
<br>
<a href="{% url 'whistleblowingapp:signedin' %}">Back</a>