<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Reports</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .report-title-link {
            color: red; /* Makes the link text red */
        }
        .report-title-link:hover {
            color: darkred; /* Optional: Change color on hover */
        }
    </style>
</head>
<body>
<div class="container mt-4">
    <h1 class="mb-4">Your Reports:</h1>

    <div class="list-group">
        {% for report in reports %}
            <div class="list-group-item">
                <h3 class="mb-1">{{ forloop.counter }}: <a href="{% url 'whistleblowingapp:viewreport' report.id %}" class="report-title-link">{{ report.reportTitle }}</a></h3>
                <p class="mb-1"><strong>Report User:</strong> {{ report.user }}</p>
                <p class="mb-1"><strong>Report Description:</strong> {{ report.reportDescription }}</p>
                <p class="mb-1"><strong>Status:</strong> {{ report.status }}</p>
                {% if report.status == "Resolved" %}
                    <p class="mb-1"><strong>Notes From Admin:</strong> {{ report.admin_notes }}</p>
                {% endif %}
                <div>
                    {% if report.reportText %}
                        <a href="{{ report.reportText.url }}" class="btn btn-link btn-sm">View .txt file</a>
                    {% endif %}
                    {% if report.reportPDF %}
                        <a href="{{ report.reportPDF.url }}" class="btn btn-link btn-sm">View PDF</a>
                    {% endif %}
                    {% if report.reportJPEG %}
                        <a href="{{ report.reportJPEG.url }}" class="btn btn-link btn-sm">View JPEG</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'whistleblowingapp:signedin' %}" class="btn btn-primary">Back</a>
    </div>
</div>
</body>
</html>
